<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>AwesomeProject</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Raleway-Bold.ttf</string>
		<string>Raleway-Light.ttf</string>
		<string>Raleway-Regular.ttf</string>
		<string>inter_black.ttf</string>
		<string>inter_blackitalic.ttf</string>
		<string>inter_bold.ttf</string>
		<string>inter_bolditalic.ttf</string>
		<string>inter_extrabold.ttf</string>
		<string>inter_extrabolditalic.ttf</string>
		<string>inter_extralight.ttf</string>
		<string>inter_extralightitalic.ttf</string>
		<string>inter_italic.ttf</string>
		<string>inter_light.ttf</string>
		<string>inter_lightitalic.ttf</string>
		<string>inter_medium.ttf</string>
		<string>inter_mediumitalic.ttf</string>
		<string>inter_regular.ttf</string>
		<string>inter_semibold.ttf</string>
		<string>inter_semibolditalic.ttf</string>
		<string>inter_thin.ttf</string>
		<string>inter_thinitalic.ttf</string>
		<string>nunito_black.ttf</string>
		<string>nunito_blackitalic.ttf</string>
		<string>nunito_bold.ttf</string>
		<string>nunito_bolditalic.ttf</string>
		<string>nunito_extrabold.ttf</string>
		<string>nunito_extrabolditalic.ttf</string>
		<string>nunito_extralight.ttf</string>
		<string>nunito_extralightitalic.ttf</string>
		<string>nunito_italic.ttf</string>
		<string>nunito_light.ttf</string>
		<string>nunito_lightitalic.ttf</string>
		<string>nunito_medium.ttf</string>
		<string>nunito_mediumitalic.ttf</string>
		<string>nunito_regular.ttf</string>
		<string>nunito_semibold.ttf</string>
		<string>nunito_semibolditalic.ttf</string>
		<string>ibm_bold.ttf</string>
		<string>ibm_extralight.ttf</string>
		<string>ibm_light.ttf</string>
		<string>ibm_medium.ttf</string>
		<string>ibm_regular.ttf</string>
		<string>ibm_semibold.ttf</string>
		<string>ibm_thin.ttf</string>
	</array>
</dict>
</plist>
